*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    max-width: 1440px;
    margin: 0 auto;
    box-sizing: border-box;
}

body {
    background-color: black;
    color: white;
    font-family: sans-serif;
}

main {
    max-width: 900px;
    margin-left:auto;
    margin-right: auto;
    padding: 2rem;
    box-sizing: border-box;
}

main h2{
    text-align: center;
    margin-bottom: 2rem;
}

main h1 {
    text-align: center;
}

.mainTime {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
    /* max-width: 1000px; */
    width: 100%;
    margin: 0 auto;
    margin-left: 3rem;
    box-sizing: border-box;
}

.all {
    border: 1px solid #fff;
    padding: 2rem 2rem;
    border-radius: 1rem;
    box-shadow:  3px 3px 2rem rgb(56, 56, 56);
}

input[type="number"] {
    /* width: 100%; */
    outline: none;
    text-align: center;
    color: #fff;
    background: transparent;
    border: 1px solid gray;
    padding: 1rem;
    box-sizing: border-box;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    appearance: none;
}

.functionality {
    display: flex;
    justify-content: space-between;
    padding:.5rem 3rem;
}

.functionality button{
    padding: .4rem 2rem;
}
.start {
    background: rgb(3, 141, 3);
    color: #fff;
    border: none;
    border-radius: .2rem;
    box-shadow: inset -3px -3px 4px rgb(0, 44, 0);
}
.reset {
    margin-right: .6rem;
    background: rgb(167, 2, 2);
    color: #fff;
    border: none;
    border-radius: .2rem;
    box-shadow: inset -3px -3px 4px rgb(44, 0, 0);
}

.lap {
    background: rgb(200, 0, 255);
    color: #fff;
    border: none;
    border-radius: .2rem;
    box-shadow: inset -3px -3px 4px rgb(44, 37, 0);
}

.timer-display {
    font-size: 2em;
    margin-top: 15px;
}

.remove{
    display: none;
}

.pause {
    background: blue;
    color: #fff;
    border: none;
    border-radius: .2rem;
    box-shadow: inset -3px -3px 4px rgb(0, 3, 44);
}

.resume {
    background-color: rgb(153, 153, 9);
    color: #fff;
    border: none;
    border-radius: .2rem;
    box-shadow: inset -3px -3px 4px rgb(44, 37, 0);
}